* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 1);
    list-style: none;
    
}

html, body {
    height: 100%;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 17px;
    opacity: 80%;
    
}